@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family-primary: 'Bellefair', serif;
  --font-family-secondary: 'Barlow Condensed', sans-serif;

  --color-dark: hsl(230, 35%, 7%);
  --color-light: hsl(231, 77%, 80%);
  --color-white: hsl(0, 0%, 100%);
}

html {
  font-family: var(--font-family-primary);
  font-size: 10px;
  color: var(--color-white);
}

body {
  overflow-x: hidden;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  height: 100%;
}
